@forward "./fonts";
@import "./tailwind.css";

body {
  padding: 0;
  margin: 0;

  font-weight: 500;
  font-family: "IBM Plex Mono", monospace;
}

.popup-background {
  background: rgba(255, 227, 227, 0.1) !important;
  backdrop-filter: blur(3px) !important;
}

.code {
  font-family: 'Fragment Mono', monospace;
}